[Unit]
Description=MSI MEG CoreLiquid S360 Daemon

[Service]
Type=simple
ExecStart=/home/sarzeaud/my_msi_driver -M 5 startd
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
